<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OpenClaw Floating Client</string>
	<key>CFBundleExecutable</key>
	<string>OpenClawFloatingClient</string>
	<key>CFBundleIdentifier</key>
	<string>com.openclaw.floatingclient</string>
	<key>CFBundleName</key>
	<string>OpenClawFloatingClient</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
